{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true,
		"commonjs": true
	},
	"extends": ["eslint:recommended", "prettier", "plugin:react/recommended"],
	"globals": {
		"cy": true
	},
	"rules": {
		"prettier/prettier": 1,
		"no-class-assign": "off",
		"import/no-named-as-default": "off",
		"no-console": "off",
		"no-unused-vars": "warn",
		"react/no-string-refs": 0,
		"react/prop-types": 0
	},
	"plugins": ["prettier", "react"]
}
