%button-reset {
	outline: none;
	user-select: none;
	border: none;
	background: none;
	font: inherit;
	line-height: inherit;
	box-sizing: border-box;
}

%button-base-colors {
	background: $c-accent;
	color: $c-text-invert;
}

%button-base {
	@extend %button-reset, %button-base-colors, %centering-flex;

	display: inline-flex;
	vertical-align: middle;
	text-align: center;
	line-height: 1;
	font-weight: 300;
	font-size: 1rem;
	transition: color $default-transition-duration, background-color $default-transition-duration;
	cursor: pointer;
	border: 1px solid transparent;

	&:hover {
		background-color: $c-accent-hover;
		transition: none;
	}
}

.button {
	@extend %button-base;

	padding: rel-size(10px) rel-size(20px);
	min-width: rel-size(150px);
	border-radius: rel-size($default-border-radius);

	& + & {
		margin-left: rel-size(10px);
	}

	&._outlined {
		background: none;
		color: $c-button-oulined;
		border-color: currentColor;

		&:hover {
			color: $c-accent;
		}
	}

	&._disabled {
		@extend %disabled;
	}

	&._small {
		padding: rel-size(5px);
		min-width: 0;
	}

	&._arrows {
		border-color: transparent;
		padding: 0;
	}
}
