.field-block {
	margin-bottom: rel-size(10px);

	&:last-child {
		margin-bottom: 0;
	}

	&__container {
		position: relative;
		display: inline-flex;
	}

	&__input {
		padding-left: rel-size(40px);
	}

	&__number-entered {
		@extend %centering-flex;

		$size: rel-size(24px);
		$border-size: rel-size(2px);

		position: absolute;
		left: rel-size(8px);
		top: 50%;
		margin-top: -$size / 2;
		box-sizing: border-box;
		border-radius: 100%;
		width: $size;
		height: $size;
		border: $border-size solid $c-accent-2;
		font-weight: 500;
		text-align: center;
	}

	&__button {
		min-width: 0;
		margin-left: rel-size(10px);
		padding-top: 0;
		padding-bottom: 0;
	}
}
