.field-block {
	margin-bottom: rel-size(10px);

	&:last-child {
		margin-bottom: 0;
	}

	&__container {
		position: relative;
		display: inline-flex;
	}

	&__input {
		padding-left: rel-size(40px);
	}

	&__number-entered {
		position: absolute;
		left: rel-size(8px);
		top: 50%;
		transform: translate(0, -50%);
	}

	&__button {
		min-width: 0;
		margin-left: rel-size(10px);
		padding-top: 0;
		padding-bottom: 0;
	}
}
