.input {
	display: block;
	width: rel-size($input-default-width);
	box-sizing: border-box;
	padding: rel-size(10px) rel-size(20px);
	border-radius: $default-border-radius;
	border: 1px solid $c-lines;
	font-size: 1rem;
	font-weight: inherit;
}
