@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}

@mixin spinner($size: rel-size(30px)) {
	position: relative;
	width: $size;
	height: $size;
	pointer-events: none;
	border-radius: 100%;

	&:before,
	&:after {
		@extend %full-sized;

		content: "";
		border-radius: 100%;
		box-sizing: content-box;
		will-change: transform, opacity;
		transition: opacity $default-transition-duration;
	}

	&:before {
		$padding: rel-size(3px);
		$border-size: rel-size(2px);
		$offset: -($padding + $border-size);

		margin-left: $offset;
		margin-top: $offset;
		border: $border-size solid transparent;
		border-top-color: $c-accent-4;
		padding: $padding;
		animation: rotation 0.5s infinite linear;
	}

	&:after {
		$padding: rel-size(12px);
		$border-size: rel-size(4px);
		$offset: -($padding + $border-size);

		margin-left: $offset;
		margin-top: $offset;
		border: $border-size solid transparent;
		border-left-color: $c-accent-3;
		padding: $padding;
		animation: rotation 1.2s infinite linear;
	}
}

%spinner-default {
	@include spinner();
}
