.stages-nav {
	margin: 2rem 0;

	&__buttons {
		overflow: auto;
		white-space: nowrap;
		padding-bottom: rel-size(10px);
		margin-bottom: rel-size(-10px);
	}

	&__list {
		display: inline-block;
		border-bottom: 1px solid $c-lines;
	}

	&__button {
		@extend %button-reset;

		position: relative;
		display: inline-block;
		vertical-align: bottom;
		padding: 0.4em 0.7em;
		cursor: pointer;
		transition: color $default-transition-duration $default-transition-function;

		&:after {
			content: '';
			display: none;
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 2px;
			background-color: currentColor;
		}

		&:hover {
			color: $c-accent;
			transition: none;
		}

		&._active {
			color: $c-accent;

			&:after {
				display: block;
			}
		}
	}
}
