.voice-input {
	margin: rel-size(20px) 0;

	&__record-icon {
		@extend %button-base, %spinner-default;

		$size: rel-size(30px);

		position: relative;
		width: $size;
		height: $size;
		padding: rel-size(7px);
		border-radius: 100%;
		pointer-events: auto;

		&:before,
		&:after {
			opacity: 0;
		}

		&._animating {
			&:before,
			&:after {
				opacity: 1;
				pointer-events: auto;
				transition: none;
			}
		}
	}

	&__error {
		display: inline-block;
		vertical-align: middle;
		margin-left: rel-size(10px);
		color: $c-error;
	}
}
