$default-font-size: 14px

$default-transition-duration: 0.4s
$default-transition-function: ease-out

$breakpoint-lg: 1400px
$breakpoint-md: 1000px
$breakpoint-sm: 767px

$indent-col-lg: 15px
$indent-col-md: 15px
$indent-col-sm: 10px
$indent-col-xs: 10px

$cols-total: 12
$site-paddings: 20px

$c-black: #000000
$c-white: #ffffff
$c-teal: teal
$c-green-light: #6ae0a4
$c-purple: #815a9e
$c-red: red

$c-accent: $c-teal
$c-accent-2: $c-green-light
$c-accent-3: $c-purple
$c-accent-hover: lighten($c-accent, 5)
$c-background: $c-white
$c-background-invert: $c-black
$c-text: $c-black
$c-text-invert: $c-white
$c-error: $c-red
